<template name="about">
  <h1>About the Love</h1>
  <p class="lead">
    Built with love in&hellip; grew out of <a href="/joshtronic">my</a> desire have a cool place to link my “pride blurbs” to but also to help gather people, products and businesses in one place to show their pride for where perform their day-to-day ass kicking.
  </p>
  <h2>Inspiration</h2>
  <p class="lead">
    The idea for this site was a mash-up of sites like <a href="http://prtlnd.com/">PRTLND</a> and the now defunt We are Tampa Bay with the popularity contest gamificiation mechanism that I had originally used on another project.</p>
</template>
