<template name="profile">
  <div class="row">
    <div class="col-xs-12- col-sm-4">
      <img src="http://www.gravatar.com/avatar/{{gravatarHash}}?s=200&r=pg&d=retro" class="img-responsive img-circle">
    </div>
    <div class="col-xs-12 col-sm-8">
      <h1>
        {{name}}
        {{#if currentUser}}
          {{#if isOwner}}
            <a href="/profile/{{_id}}/edit" class="btn btn-sm btn-default pull-right">
              <span class="glyphicon glyphicon-cog"></span> Edit
            </a>
          {{/if}}
        {{/if}}
      </h1>
      <h4 class="text-muted">
        <span class="glyphicon glyphicon-map-marker"></span>
        <a href="/{{country}}/{{state}}/{{city}}">{{city.toUpperCase}}</a>,
        <a href="/{{country}}/{{state}}">{{state.toUpperCase}}</a>
        <span class="glyphicon glyphicon-globe"></span>
        <a href="/{{country}}">{{country.toUpperCase}}</a>
      </h4>
      <p class="lead">{{description}}</p>
    </div>
  </div>
  {{trackView}}
</template>

