<template name="profileEdit">
  <h1>Edit Profile</h1>
  <form class="main form">
    <div class="form-group">
      <label class="control-label" for="url">Display Name</label>
      <div class="controls">
        <input name="name" id="name" type="text" value="{{name}}" placeholder="Your name or the name of your product or business" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="title">Profile Name</label>
      <div class="controls">
        <input name="slug" id="slug" type="text" value="{{slug}}" placeholder="Unique identifier for your profile" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="title">Region</label>
      <div class="controls">
        <select name="region" id="region">
          {{#each regions}}
            <option value="{{_id.toHexString}}">{{name}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <input type="submit" value="Create Profile" class="btn btn-primary"/>
  </form>
</template>

