<template name="profileNew">
  <h1>New Profile</h1>
  <form class="main form">
    <div class="form-group">
      <label class="control-label" for="name">Name</label>
      <div class="controls">
        <input name="name" id="name" type="text" value="" placeholder="Your name, the name of your product or the name of your business" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="title">Slug</label>
      <div class="controls">
        <input name="slug" id="slug" type="text" value="" placeholder="Unique identifier for your profile. At least 3 characters; letters, numbers and _ (underscores) only" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="region">Region</label>
      <div class="controls">
        <select name="region" id="region" class="form-control">
          {{#each regions}}
            <option value="{{_id.toHexString}}">{{name}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <input type="submit" value="Create Profile" class="btn btn-primary"/>
  </form>
</template>

