<template name="profileNew">
  <form class="main form">
    <div class="form-group">
      <label class="control-label" for="display">Display Name</label>
      <div class="controls">
        <input name="display" id="display" type="text" value="" placeholder="Your name (person, place of business, product, et cetera)" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="region">Region</label>
      <div class="controls">
        <select name="region" id="region" class="form-control">
          <optgroup label="United States">
            <option value="us|fl|tampa">Tampa, Florida</option>
          </optgroup>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="slug">Vanity URL</label>
      <div class="controls">
        <input name="slug" id="slug" type="text" value="" placeholder="/us/fl/tampa/&hellip;" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="description">Bio / Description</label>
      <div class="controls">
        <textarea name="description" id="description" placeholder="Tell us something about yourself, your place of business, product, et cetera" class="form-control"></textarea>
      </div>
    </div>
    <input type="submit" value="Create Profile" class="btn btn-primary"/>
  </form>
</template>
